<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>
            Site
        </h3>
        <ul class="nav side-menu">
            <li>
                <a>
                    <i class="fa fa-line-chart">
                    </i> Home 
                    <span class="fa fa-chevron-down">
                    </span>
                </a>
                <ul class="nav child_menu">
                    <li>
                        <a href="#/stats">
                            Site Stats
                        </a>
                    </li>
                    <li>
                        <a href="#/userStats">
                            User Stats
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a>
                    <i class="fa fa-edit">
                    </i>
                    Forms
                    <span class="fa fa-chevron-down">
                    </span>
                </a>
                <ul class="nav child_menu">
                    <li>
                        <a href="form.html">
                            General Form
                        </a>
                    </li>
                    <li>
                        <a href="form_advanced.html">
                            Advanced Components
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="menu_section">
        <h3>
            Admin User
        </h3>
        <ul class="nav side-menu">
            <li>
                <a>
                    <i class="fa fa-address-card">
                    </i>
                        Admins
                    <span class="fa fa-chevron-down">
                    </span>
                </a>
                <ul class="nav child_menu">
                    <li>
                        <a href="#/adminUsers">
                            Add/Edit Admins
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>